.vscode/**
.vscode-test/**
.github/**
src/**
.gitignore
.yarnrc
tsconfig.json
**/*.map
**/*.ts
node_modules/**
php-src/**
php-tests/**
composer.json
composer.lock
phpunit.xml
eslint.config.mjs
.phpunit.cache/**
!php-bin/**
!vendor/**
